body {
    background-color: #3d405b;
    padding: 3em;
}

.blobOne {
    position: absolute;
    right: 30px;
    top: 200px;
    z-index: -1;
}

.blobTwo {
    position: absolute;
    left: 230px;
    bottom: -5em;
    z-index: -1;
}

.blobThree {
    position: absolute;
    right: -30px;
    top: -2em;
    // z-index: -1;
    opacity: 50%;
}

.blobFour {
    position: absolute;
    left: 50%;
    bottom: -5em;
    z-index: -1;
}

.blobFive {
    position: absolute;
    left: -1em;
    top: 150px;
    z-index: -1;
}

.blobSix {
    position: absolute;
    right: 100px;
    bottom: 1em;
    z-index: -1;
}

.blobSeven {
    position: absolute;
    right: 200px;
    top: -5em;
    z-index: -1;
}

.blobEight {
    position: absolute;
    left: 12em;
    bottom: 100px;
    z-index: -1;
}

.blobNine {
    position: absolute;
    left: 50%;
    top: 300px;
    z-index: -1;
}

.blobTen {
    position: absolute;
    top: -3em;
    // z-index: -1;
}

.blobEleven {
    position: absolute;
    top: 23em;
    left: 30%;
    z-index: -1;
}

.headingCard {
    // background: rgba(61, 64, 91, 1);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 1em;
}

.description {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}

h1.description {
    font-size: 40px;
    width: fit-content;
}

p.description {
    letter-spacing: 0.5px;
    font-size: 20px;
}

.randomButton {
    margin-block: 2em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.recipeCard {
    background-color: #f4f1de;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-block: 2em;
    height: auto;
    border-radius: 25px;
    padding: 1em;
    display: flex;
    align-items: center;
    text-align: center;
}

.recipeCard > img {
    width: 50%;
    // max-height: 20em;
    margin: 20px;
}

.rightColumn {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    color: #003049;
}

