body {
    background-color: #3d405b;
    padding: 3em;
}

// .center {
//     margin-top: 25%;
// }

.blob {
    position: absolute;
    z-index: -1;
}

.blobOne {
    right: 2%;
    top: 13%;
}

.blobTwo {
    top: 10%;
    left: 3%;
}

.blobThree {
    right: -2%;
    top: 70%;
    opacity: 50%;
}

.blobFour {
    left: 50%;
    top: 50%;
}

.blobFive {
    left: -2%;
    top: 30%;
}

.blobSix {
    left: 15%;
    top: 40%;
}

.blobSeven {
    right: 13%;
    top: 4%;
}

.blobEight {
    left: 40%;
    top: 70%;
}

.blobNine {
    top: 65%;
    left: -5%
}

.blobTen {
    left: 15%;
}

.blobEleven {
    left: 10%;
    top: 80%;
}

.headingCard {
    background: #f2cc8f;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 2em;
}

.description {
    color: #003049;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    margin-block: 0;
}

h1.description {
    font-size: 50px;
    width: fit-content;
}

p.description {
    letter-spacing: 0.5px;
    font-size: 30px;
    width: fit-content;
    margin-top: 1em;
}

.randomButton {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.randomButton > a {
    width: fit-content;
    background-color: #e07a5f;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
}

.randomButton > a:hover {
    background-color: #3d405b;
}

.recipeCard {
    background-color: #f4f1de;
    width: 70%;
    margin: 2em auto 0 auto;
    height: auto;
    border-radius: 25px;
    padding: 1em;
    display: flex;
    align-items: center;
    text-align: center;
}

[data-link] {
    cursor: pointer;
}

.recipeCard > img {
    width: 50%;
    // max-height: 20em;
    margin: 20px;
}

.rightColumn {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    color: #003049;
}

.recipeTitle {
    font-size: 40px;
}

.toRecipeButton > a {
    width: fit-content;
    background-color: #f2cc8f;
    color: #3d405b;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
}

.toRecipeButton > a:hover {
    background-color: #3d405b;
    color: #f2cc8f;
}

@media screen and (max-width: 1290px) {
    // p.description {
    //     width: 55%;
    // }

    .blob {
        width: 300px;
    }

    .blobTen {
        top: -5%;
    }
}

@media screen and (max-width: 1000px) {
    h1.description {
        font-size: 40px;
    }

    p.description {
        font-size: 25px;
    }

    .recipeTitle {
        font-size: 30px;
    }
}

@media screen and (max-width: 900px) {
    .blob {
        width: 200px;
    }

    .recipeTitle {
        font-size: 25px;
    }

    .toRecipeButton > a {
        font-size: 15px;
    }
}

@media screen and (max-width: 650px) {
    .recipeTitle {
        font-size: 20px;
    }

    .recipeCard {
        width: 80%;
    }

    .recipeCard > img {
        margin: 10px;
    }
}

@media screen and (max-width: 600px) {
    .blob {
        width: 150px;
    }

    .recipeCard {
        width: 85%;
        padding: 8px;
    }

    .rightColumn {
        padding: 0.5em;
    }
}

@media screen and (max-width: 540px) {
    h1.description {
        font-size: 35px;
    }

    p.description {
        font-size: 20px;
    }

    .blob {
        width: 100px;
    }

    .rightColumn {
        padding: 0;
    }

    .toRecipeButton > a {
        font-size: 10px;
    }

    .randomButton > a {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    .toRecipeButton > a {
        padding: 5px;
    }
}

@media screen and (max-width: 400px) {
    .toRecipeButton {
        padding-left: 8px;
    }

    .blobEleven {
        top: 85%;
    }

    .blobNine {
        bottom: -5%;
    }

    .blobEight {
        top: 80%;
    }

    .blobThree {
        top: 90%;
    }
}

@media screen and (max-width: 330px) {
    h1.description {
        font-size: 25px;
    }

    p.description {
        font-size: 15px;
    }

    .randomButton {
        margin-top: 0.5em;
    }
}

@media screen and (max-width: 300px) {
    h1.description {
        font-size: 20px;
    }

    // .blob {
    //     width: 75px;
    // }
}