body {
    background-color: #3d405b;
    padding-top: 3em;
}

.doodle {
    background: url(backgroundArt.png) no-repeat;
    // position: fixed;
    // background-size: cover;
}

.drink {
    background-position: -36px -45px;
    width: 140px;
	height: 170px;
}

.bowl {
    background-position: -284px -45px;
    width: 158px;
	height: 134px;
}

.pudding {
    background-position: -54px -325px;
    width: 177px;
	height: 125px;
}

.lemonade {
    background-position: -348px -260px;
    width: 125px;
	height: 185px;
}


.description {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

p.description {
    letter-spacing: 0.5px;
    font-size: 18px;
    width: 40%;
}

.randomButton {
    margin-block: 2em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.recipeCard {
    background-color: #f4f1de;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-block: 2em;
    height: auto;
    border-radius: 25px;
    padding: 1em;
    display: flex;
    align-items: center;
}

.recipeCard > img {
    width: 50%;
    // max-height: 20em;
    margin: 20px;
}

.rightColumn {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    color: #003049;
}

